*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    scroll-behavior: smooth;
}
*::selection{
    background-color: rgb(255, 255, 0);
    color:rgb(90, 90, 90);
}
html,body{
    width:100%;
    height:100%;
}

.container{
    width:100%;
    height:100%;
}